.banner {
    width: 100%;
    padding: 20px; /* Add some padding to the banner */
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }
}